<h1><center>Request for Investment Proposal</center></h1>

<p>Social Venture Partners Chicago has sent this request for investment proposal (RFP) to a select group of 12 nonprofit organizations in the Chicagoland area. Through this web application, we hope to gather information we need to choose how to invest our money, time, and expertise to successfully address breaking the poverty cycle.</p>

<p>We will make a three year commitment to provide the selected organization with:</p>
<ul>
  <li>Capacity-building support</li>
  <li>$25,000 for general operating support – renewable annually (up to three years)</li>
</ul>

<p>We look forward to your submission!</p>


<p><bold>Using this Form:</bold>
Please enter information directly into this form. The boxes will expand to hold your text.</p>
<ul>
  <li>If you find an item confusing, please feel free to contact us. We understand that some of our nomenclature could be unfamiliar. We also understand that you may not yet have established some capabilities or processes, and indicating that fact by inserting “Not Yet Established” or “To Be Determined” is completely acceptable.</li>
  <li>Brevity will be highly advantageous to you during our review process.</li>
</ul>

<p>For questions about items in the RFP, contact Colleen Scrivner, SVP Chicago director of marketing and operations, at colleen@svpchicago.org</p>


<h1> SVP Chicago Request for Investment Proposal</h1>

<h2> Sector Focus: Breaking the Poverty Cycle</h2>

<%= form_for @rfp_form, url: {action: "create"}, html: {class: 'form-horizontal'} do |f| %>
  <h3 class="form-title well">1. Contact Information</h3>
  
  <div class="form-group">
    <%= f.label :organization, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :organization, class: 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :address, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :address, class: 'form-control' %>
    </div>
  </div>

  <%= f.submit "Create" %>
<% end %>
