<h1>2016 SVP Chicago Letter of Interest </h1>
<h2>Sector Focus:  Breaking the Cycle of Poverty</h2>
<h3>Completing this Form:</h3>
<p>Please enter information directly into the form, using this form as the main body of your Letter of Interest.</p>
<ul>
  <li>If you find an item confusing, please feel free to contact us.</li>
  <li>Please use bullet points rather than paragraphs.</li>
  <li>Brevity is helpful to our partners when reviewing proposals.</li>
</ul>
<form class="form-horizontal" role="form" method="post" action="/letter_of_interest">

<!-- section 1 -->
<%= render partial: "partials/contact_info" %>

<!-- section 2 -->
<%= render partial: "partials/organization" %>

<!-- section 3 -->
<%= render partial: "partials/overview_mission" %>

<!-- section 4 -->
<%= render partial: "partials/vision" %>

<!-- section 5 -->
<%= render partial: "partials/concerns" %>

<!-- section 6 -->
<%= render partial: "partials/challenges_header" %>
<%= render partial: "partials/challenges_board" %>
<%= render partial: "partials/challenges_operations" %>
<%= render partial: "partials/challenges_fund" %>
<%= render partial: "partials/challenges_marketing" %>
<%= render partial: "partials/challenges_strategic" %>
<%= render partial: "partials/challenges_technology" %>
<%= render partial: "partials/challenges_other" %>
<%= render partial: "partials/total_fte_count" %>


<!-- additional comments section 7 -->
<%= render partial: "partials/additional" %>

<!-- section 8 -->
<%= render partial: "partials/referral" %>

<!-- section 9 -->
<%= render partial: "partials/demographics" %>

<!-- section 10 -->
<%= render partial: "partials/geographical" %>
<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 


  <div class="form-group pull-right">        
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
<em>Thank you for your interest in partnering with Social Venture Partners Chicago!</em>