<!DOCTYPE html>
<html>
<head>
  <title>SVPChicago</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container" ng-app="app">
  <%= link_to "Log in", "/users/sign_in" %>
  <%= yield %>

</div>

</body>
</html>
