<!DOCTYPE html>
<html>
<head>
  <title>SVPChicago</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
<div class="container">
  <%= yield %>
</div>
=======

<%= link_to "Log in", "/users/sign_in" %>
<%= yield %>
>>>>>>> 8da4bebe01818fd639733152d5d80ab1ad8535a2

</body>
</html>
